.checkin-form-container {
  font-family: 'Avenir';
  text-align: center;
  background-color: white;
  width: 30%;
  margin: auto;
  height: 75vh;
  border-radius: 10px;
}

.new-checkin-title {
  padding-top: 25px;
  color: rgb(77, 77, 77);
}

.subtitle-text {
  color: gray;
  margin-bottom: 40px;
}

.form-input-section {
  width: 75%;
  margin: auto;
  text-align: left;
  font-size: 20px;
  font-family: 'Avenir';
}

.checkin-field {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: rgb(230, 230, 230);
  color: rgb(77, 77, 77);
  border-color: lightgray;
  font-family: 'Avenir';
}

#major-selection {
  width: 102%;
}

.new-checkin-button {
  margin-top: 50px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  border-radius: 5px;
  font-family: 'Avenir';
}


.new-checkin-button:hover {
  background-color: #b1544d;
  cursor: pointer;
}